html, body {
	height: 100%;
	background-color: black;
}

body {
	margin: 0 auto;
}

img {
    max-width: 100%;
    max-height: 100%;
}

h1 {
	color: white;
	position: absolute;
    left: 220px;
    top: 235px;
    font-size: 45px;
    font-weight: bold;
    text-shadow: 4px 4px 6px black, -4px -4px 6px black; /* Параметры тени */
}

a {
	color: green;
}

.linkicons {
	width: 35px;
	height: 35px;
	margin: 5px 5px 0 -5px;
	color: black;
	font-size: 35px;
	line-height: 35px;
	text-align: center;
	display: inline-block;
	border-radius: 2px;
}

.linkicons:hover {
	color: white;
}

.google:hover {
	background-color: #db4437;
}

.linkedin:hover {
	background-color: #0084bf;
}

.github:hover {
	background-color: #24292e;
}

.codepen:hover {
	background-color: #24292e;
	color: gray;
}

.facebook:hover {
	background-color: #3b5998;
}

.skype:hover {
	background-color: #00aff0;
}

.ukrnet:hover {
	background-color: #82af32;
}

.telephone:hover {
	background-color: #db4437;
}

.paper:hover {
	background-color: green;
}


.coverFon {
	height: 320px;
	width: 978px;
	margin: 5px;
	margin-bottom: 100px;
	background-image: url(fon.jpg);
	background-size: cover;
	background-position: center;
	position: relative;
	text-align: right;

}

.coverPhoto {
	height: 170px;
	width: 170px;
	margin: 5px;
	border: 1px solid black;
	position: absolute;
	left: 30px;
	margin-top: 155px;
	border-radius: 3px;
}


.coverPhoto2 {
	height: 160px;
	width: 160px;

	/* position: fixed; */
	border: 5px solid white;
	color: green;
	text-align: center;
	background-image: url(photo.jpg);
	background-size: cover;
	background-position: center;
}

.skillsBlock {
	height: 200px;
	width: 975px;
	margin: -60px 0 5px 5px;
	text-align: left;
	font-size: 32px;
	/* border: 1px solid green; */
	font-weight: bold;
	color: green;
	text-align: right;
}

.skillsItem {
	height: 30px;
	width: 225px;
	margin: 2px;
	font-size: 20px;
	line-height: 30px;
	border: 1px solid green;
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	padding-left: 6px;
	text-align: left;
	font-weight: normal;
}

.main {
	width: 1000px;
	margin: 0 calc((100% - 1000px) / 2);
	margin-top: 20px;
}

.block {
	height: 270px;
	width: 480px;
	margin: 5px;
	border: 1px solid green;
	display: inline-block;
	background-color: rgba(0,255,0,0.1);
}

.block:hover {
	opacity: 0.4;
}

.myProjects {
	height: 32px;
	width: 975px;
	margin: -40px 0 5px 5px;
	text-align: left;
	line-height: 32px;
	font-size: 32px;
	/* border: 1px solid green; */
	font-weight: bold;
	color: green;
	text-align: right;
}