html, body {
	height: 100%;
	background-color: black;
	font-family: Courier;
}

body {
	margin: 0 auto;
}

img {
    max-width: 100%;
    max-height: 100%;
}

h1 {
	color: white;
	position: absolute;
    left: 220px;
    top: 240px;
    font-size: 60px;
    font-weight: bold;
    text-shadow: 0 4px 6px black, 4px 0 6px black,-0 -4px 6px black, -4px 0 6px black; /* Параметры тени */
}
div {
	display: inline-block;
}

.linkicons {
	width: 35px;
	height: 35px;
	margin: 3px 0 3px 955px;
	color: black;
	font-size: 35px;
	line-height: 35px;
	text-align: center;
	display: block;
	border-radius: 2px;
}

.linkicons:hover {
	color: white;
}

.google:hover {
	background-color: #db4437;
}

.linkedin:hover {
	background-color: #0084bf;
}

.github:hover {
	background-color: #24292e;
}

.codepen:hover {
	background-color: #24292e;
	color: gray;
}

.facebook:hover {
	background-color: #3b5998;
}

.skype:hover {
	background-color: #00aff0;
}

.ukrnet:hover {
	background-color: #82af32;
}

.telephone:hover {
	background-color: #db4437;
}

.paper:hover {
	background-color: green;
}


.coverFon {
	height: 344px;
	width: 1000px;
	/* margin: 5px 0; */
	margin-bottom: 100px;
	background-image: url(fon.jpg);
	background-size: cover;
	background-position: center;
	position: relative;
	text-align: right;

}

.coverPhoto {
	height: 170px;
	width: 170px;
	margin: 5px;
	border: 1px solid black;
	position: absolute;
	left: 30px;
	margin-top: -130px;
	border-radius: 3px;
}


.coverPhoto2 {
	height: 160px;
	width: 160px;

	/* position: fixed; */
	border: 5px solid white;
	color: green;
	text-align: center;
	background-image: url(photo.jpg);
	background-size: cover;
	background-position: center;
}

.skillsBlock {

	width: 1000px;
	margin: -60px 0 5px 0;
	text-align: left;
	font-size: 32px;
	/* padding-top: 10px; */
	/* border: 1px solid green; */
	font-weight: bold;
	color: green;
}
.skillsTitle {
	width: 1000px;
	margin: 0 -0 10px 0;
	border-bottom: 1px solid green;
	text-align: right;

}

.skillsItem {
	height: 30px;
	width: 235px;
	margin: 2px 0;
	font-size: 20px;
	line-height: 30px;
	/* border: 1px solid green; */
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	/* padding-left: 6px; */
text-align: left;
	font-weight: normal;
}

.skillsItem:hover {
	background-color: rgba(0,255,0,0.2);
}

.skillItemName {
	height: 30px;
	width: 135px;
	color: green;

}

.skillLevel {
	vertical-align: center;
	border-radius: 4px;
	height: 20px;
	width: 4px;
	margin: -4.5px;
	transform: rotateZ(35deg);
	border: 1px solid green;
}

.green {
	background-color: green;
}

.main {
	width: 1000px;
	margin: 0 calc((100% - 1000px) / 2);
	margin-top: 20px;
}

.block {
	height: 270px;
	width: 480px;
	margin: 13px 13px 13px 0;
	border: 1px solid rgba(0,100,0,0.1);
	display: inline-block;
	background-color: rgba(0,255,0,0.1);
}

.blockR {
	margin: 13px 0 13px 13px;
}

.block:hover {
	opacity: 0.4;
	border: 1px solid rgba(0,255,0,0.6);
}

