html, body {
	height: 100%;
}
body {
	margin: 0 auto;
	background-color: black;
	overflow-y: hidden;
}

.glass {
	height: 500px;
	width: 500px;
	margin: 235px auto;
	perspective: 750px;
	text-align: center;
	position: relative;
}

.glass_2 {
	height: 500px;
	width: 500px;
	transform-style: preserve-3d;
	transform-origin: 100% 100% 100%;
}

.side_ {
	height: 500px;
	width: 500px;
	border: 1px solid green;
	position: absolute;	
}

.left_ {
	width: 700px;
	border: 2px solid green;
	transform: rotateY(-90deg) translateZ(352px);
}

.right_ {
	width: 700px;
	transform: rotateY(90deg) translateZ(150px);
}

.top_ {
	height: 700px;
	transform: rotateX(90deg) translateZ(350px);
}

.bottom_ {
	height: 700px;
	transform: rotateX(-90deg) translateZ(152px);
}

.back_ {
	transform: rotateX(180deg) translateZ(350px);
}

.figure {
	height: 100px;
	width: 100px;
	position: absolute;
	transform-style: preserve-3d;
	transform: translateZ(300px);
	transition: transform 0.2s;
	/* transform-origin: 50px 0 0; */
}
